In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from pathlib import Path

In [4]:
project_dir = Path("__file__").resolve().parents[2]
project_dir

PosixPath('/Users/b1017579/Documents/PhD/Projects/14-temporal-granularity/temporal_granularity')

In [5]:
pv = pd.read_csv('{}/data/processed/resources/pv_processed.csv'.format(project_dir))
pv.datetime=pd.to_datetime(pv.datetime)
pv.head()

   Unnamed: 0            datetime  capacity_factor
0           0 1980-01-01 00:00:00              0.0
1           1 1980-01-01 01:00:00              0.0
2           2 1980-01-01 02:00:00              0.0
3           3 1980-01-01 03:00:00              0.0
4           4 1980-01-01 04:00:00              0.0

In [6]:
wind = pd.read_csv('{}/data/processed/resources/wind_processed.csv'.format(project_dir))
wind = wind.rename(columns={"time":"datetime"})
wind.datetime=pd.to_datetime(wind.datetime)
wind.head()

   Unnamed: 0            datetime  offshore  onshore
0           0 1980-01-01 00:00:00    0.2858   0.1496
1           1 1980-01-01 01:00:00    0.2827   0.1502
2           2 1980-01-01 02:00:00    0.2852   0.1485
3           3 1980-01-01 03:00:00    0.2920   0.1470
4           4 1980-01-01 04:00:00    0.3039   0.1489

In [8]:
demand = pd.read_csv('{}/data/processed/demand/electricity_demand.csv'.format(project_dir))
demand['datetime']=pd.to_datetime(demand[' timestamp'])
demand['demand'] = demand[' demand']
demand = demand.drop(['id', ' timestamp', ' demand'], axis=1)
demand = demand.set_index('datetime').resample('h').mean()
demand = demand.reset_index()
demand.head()

             datetime        demand
0 2011-05-27 15:00:00  38859.500000
1 2011-05-27 16:00:00  38657.083333
2 2011-05-27 17:00:00  37497.583333
3 2011-05-27 18:00:00  36146.333333
4 2011-05-27 19:00:00  34741.166667